/* Layout */
.container {
    margin: auto;
    max-width: 500px;
    font-family: sans-serif;
}

.heading {
    color: rebeccapurple;
}

.site-title {
    font-size: 3rem;
    color: grey;
    font-weight: 700;
    margin: 3rem 0;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link-item {
    padding-right: 2rem;
}

.nav-link-text {
    color: black;
}

/* Home */
.cat-list {
    display: flex;
    justify-content: center;
    padding-left: 0;
}

.cat-item {
    display: flex;
    width: 100px;
    height: 40px;
    margin: 5px;
    border: 2px solid #801edc;
    align-items: center;
    justify-content: center;
    font-size: 1.05em;
    border-radius: 15px;
    background: blueviolet;
    color: white;
    opacity: 85%;
    font-weight: 300;
}

.cat-item:hover {
    cursor: pointer;
    font-size: 1.1em;
}

.selected {
    font-style: italic;
    padding-bottom: 4px;
    -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1);
}